<li>
	{{name}}

	<button class="consumption" data-id="{{id}}" data-consume="{{consumption}}">
		{{#if consumption}}Nom Nom{{else}}Wish to make another?{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
